body{
  text-align: center;
}

img {
  vertical-align: top;
}

.content{
  margin: 0 auto;
  padding: 0 0 20px 0;

  h1 {

    img {
      width: (420px / 2);
      height: auto;
    }
  }

  .message {
    padding: 0.5em 0;
    font-size: 1.2em;
  }
}

.animation {

}

.sns {
  display: inline-block;
  vertical-align: top;
}