extends ../layout

block content
  #front
    .content
      #title
        img(src='/img/0_top/logo@2x.png')
      a#startButton(href='start')
        img#startBtnImg(src='/img/startBtn@2x.png')
  #input
    .content
      #instruct
        img(src='/img/1_input_message/please@2x.png')
      #restriction
        img(src='/img/1_input_message/limit@2x.png')
      form(method='post', action='message')
        #inputArea
          input#inputText(type='text', name='message', maxlength='10')
        #okBtn
          input#okImg(src='/img/okBtn@2x.png', type='image')
  #semaphore
    .content
      -letters.forEach(function(letter){
        div.letter(value=letter, id=letter)
          =letter
      -});
  #end
    .content
      #thanks.thanks
        img(src='/img/3_thankyou/thankYou@2x.png')
      #guidance
        img(src='/img/3_thankyou/check@2x.png')
      .generatedLink
        #url
          http://exsample.com
        .qr
          img#qrImg(src='')

      .control
        a#shareButton(href='share')
          img#shareBtnImg(src='/img/shareBtn@2x.png')
        a#endButton(href='end')
          img#endBtnImg(src='/img/endBtn@2x.png')



