extends ../layout

block content
  #front
    h1= title
    p Welcome to #{title} 
    a(href='start', id="startButton") Start
  #input
    form(method='post', action='message')
      input(type='text', name='message')
      input(type='submit', value='OK',class='submit')
  #semaphore 
    -letters.forEach(function(letter){
      div.letter(value=letter, id=letter) 
        =letter
    -});
  #end
    div.thanks
      ありがとうございました
      br
      記念にお持ち帰り下さい
    div.generatedLink
      span(id='url')
        https://www.hoge.co.jp/
      div.qr
        img(src='', id='qrcode')
    div.control
      div
        a(href='share', id='shareButton')
          サイトへ投稿
      div
        a(href='end', id='endButton')
          終了