html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}



//#front
  
#input
  display: none

#semaphore 
  display: none

#end
  display: none


.disabled{
  pointer-events: none;
  opacity: 0.6;
}

body{
  width: 1024px;
  height: 735px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}

.content{
  display: inline;
}

/********************/

#front{
  margin: auto;
}

#handImg{
  height:281px;
  width:324px;
}

#title{
  font-size: 80px;
}

#startBtnImg{
  height: 128px;
  width: 513px;
}

/********************/
#form{
  margin: auto;
}

#instruct{
  height: 60px;
  font-size: 60px;
}

#restriction{
  height: 60px;
  font-size: 40px;
}

#inputArea{
  margin: 50px;
}

#inputText{
  width: 672px;
  height: 90px;
  font-size: 80px;
}

#okBtn{

}

#okImg{
  height: 128px;
  width: 513px;
}
/********************/


.letter{
  font-size: 700px;
}


/********************/

#end{
  margin: auto;
}

#thanks{
  height: 90px;
  font-size: 60px;
}

#guidance{
  height: 30px;
  font-size:25px;
}

#url{
  height:45px;
  font-size:39px;
}

#qrImg{
  height: 150px;
  width: 150px;
}

#shareBtnImg{
  height: 118px;
  width: 442px;
}

#endBtnImg{
  height: 118px;
  width: 442px;
}



